.mainbox {
    background-color: rgb(77, 255, 195);
    border: 5px solid lightslategray;
    width: auto;
    height: auto;
}

#blogpost {
    background-color: bisque;
    color: black;
    border: solid black;
    padding: 10px;
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header {
    height: auto;
    width: auto;
    background-color: lightcoral;
    border: 3px solid lightgreen;
    border-radius: 12px;
    text-align: center;
}

#nestedgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.picture {
    background-color: lightblue;
    border: solid 2px lightcoral;
    border-radius: 20px;
    padding: 10px;
    margin: 25px;
    height: 225px;
    width: 225px;
}

#first {
    background-image: url('../images/workspace\ -\ image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#second {
    background-image: url('../images/workspace\ -\ image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    height: 10px;
    margin: 10px;
    color: black;
}

.authorinfo {
    height: 500px;
    width: auto;
    text-align: left;
    list-style: none;
}

.avatar {
    width: 50%;
}

.socialsharing {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

.footer {
    background-color: lightslategray;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    position: relative;
    bottom: 0;
    width: auto;
}

@media (min-width: 320px) {
    .mainbox {
        width: 95%;
        margin: auto;
    }
    .header {
        width: 95%;
        margin-left: 5px;
        margin-top: 5px;
    }
    #blogpost {
        flex-direction: column;
    }
    .authorinfo {
        width: 95%;
        margin: auto;
    }
    .avatar {
        width: 40%;
    }
    #first {
        display: none;
    }
    #second {
        display: none;
    }
    figcaption {
        display: none;
    }
    .button {
        text-align: center;
    }
}

@media (min-width:600px) and (max-width:900px) {
    body {
        background-color: rgb(77, 255, 195);
    }
    .mainbox {
        background-color: none;
        border: 5px solid lightslategray;
        width: auto;
        height: auto;
    }
    figcaption {
        display: block;
    }
    #first {
        display: block;
    }
}

@media (min-width:901px) {
    body {
        background-color: blue;
    }
    .mainbox {
        background-color: none;
        border: none;
        width: auto;
        height: auto;
    }
    figcaption {
        display: block;
    }
    #first {
        display: block;
    }
    #second {
        display: block;
    }
}